.navbar {
  min-height: 100px;
  font-size: 30px;
  background: #1f868f;
}

.nav-brand {
  font-family: 'Fredericka the Great';
  font-size: 60px;
  color: #efefef;
}

.nav-link {
  text-decoration: none;
  color: #bababa;
  font-weight: bold;
}

.nav-link:hover {
  color: #D6CA46;
}

.active {
  color: #D6CA46;
}

