<nav class="navbar navbar-expand-md container-fluid ">
  <div class="nav-brand col-lg-4 col-xl-2">Crochet
  </div>
  <div class="col-lg-6 col-xl-8">
    <ul class="navbar-nav justify-content-around">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/products']"
           [routerLinkActive]="['active']"
        >Produkty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/patterns']"
           [routerLinkActive]="['active']"
        >Schematy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/comments']"
           [routerLinkActive]="['active']"
        >Komentarze</a>
      </li>
    </ul>
  </div>
</nav>
