<div class="row d-flex justify-content-between p-5">
  <div class="video-header col-10 mb-3 text-truncate">
    {{ pattern.productName }}
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <a class="embed-responsive-item "
       href="{{pattern.videoPath}}"
       target="blanc">
      <iframe class="video" [src]='sanitizeVideoPath(pattern.videoPath)' frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </a>
  </div>
</div>

