<div *ngIf="selectedProduct && selectedProduct.videoPath; else loading" class="container">
  <div class="pattern-header">
    <h4>{{selectedProduct.name.toUpperCase() }}</h4>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <a class="embed-responsive-item"
       href="{{selectedProduct.videoPath}}"
       target="blanc">
      <iframe [src]='sanitizeVideoPath(selectedProduct.videoPath)' frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </a>
  </div>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border"></div>
  </div>
</ng-template>

