.description {
  border-bottom: 1px solid #dee2e6;
}

.table {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.btn {
  font-size: medium;
}

.nick {
  color: #006064;
}

.comment-text {
  font-size: medium;
}

.icon {
  font-size: 50px;
  color: #555555;
}
