<div class="container comment">
    <form [formGroup]="commentForm" *ngIf="!clickedSend" (ngSubmit)="onSendMessage()">
        <p>Bardzo nam miło gościć Cię u nas. Zestaw swoj komentarz i twórz z nami jeszcze lepsze projekty! </p>
        <div class="form-group">
            <p>{{ selectedProduct.name }}</p>
            <label for="neme">Imię i nazwisko</label>
            <div class="input-group">
                <input type="text" class="form-control" id="name" placeholder="Imię" formControlName="name" required>
                <input type="text" class="form-control" placeholder="Nazwisko" formControlName="lastName"required>
            </div>
            <label for="username">Login</label>
            <input type="text" class="form-control" id="username" placeholder="Login" formControlName="username" required>
            <label for="text">Wiadomość</label>
            <textarea class="form-control" id="text" rows="5" formControlName="message" required></textarea>
            <br>
            <button 
                type="submit" 
                class="btn btn-dark btn-lg float-right"
                >Wyślij</button>
        </div>
    </form>
    <div *ngIf="clickedSend">
        <p>Dziękujemy za kontakt z nami. Niebawem ktoś odpowie na Twoją wiadomość.  Miłedo dnia.</p>
        <button class="btn btn-outline-dark" [routerLink]="['/products']">Wróc do strony głównej</button>
    </div>
</div>  